html {
    font-size: 16px;
    letter-spacing: 0.1em;
}
html * {
    box-sizing: border-box;
    letter-spacing: 0.1em;
}
body {
    background-color: $body-bg;
    font-family: 'Noto Sans', 'Noto Sans CJK JP', 'Noto Sans CJK JP Subset', sans-serif;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}