
// Body
$body-bg: #F1F1F1;

// Brands
$brand-primary: #3F51B5;
$brand-primary--bright: #7986CB;
$brand-primary--dark: #303F9F;
$brand-accent: #E91E63;

// Typography
$text-color: #636b6f;
$text-color__bg-brand: #fff;

// Header
// ==========================================================================
$header-height: 48px;
$header-nav-font-size: 15px;
$header-nav-item-width: 120px;

// nav
// ==========================================================================
$nav-link-color: rgba(117, 117, 117, 1);
$nav-bg-color--hover: #e8eaf6 ;

// Tabs
// ==========================================================================

$tabs-underline-color: $brand-accent;
$tabs-text-color--active: #fff;
$tabs-text-color: rgba(255, 255, 255, 0.7);
$tabs-bg-color: $brand-primary;
$tabs-underline-height: 2px;

// button
// ==========================================================================
$base-button-height: 48px;
$base-border-radius: 2px;