@import "../foundation/variables";

@mixin mainGrid($headerHeight: 48px) {
    display: grid;
    min-height: 100vh;
    grid-template-rows: $headerHeight 1fr;
    grid-template-columns: 250px 1fr;
}
// header数により高さを変更する
.l-grid--single-header {
    @include mainGrid;
}
.l-grid--double-header {
    @include mainGrid(96px);
}

.l-header {
    background-color: $brand-primary;
    grid-row: 1;
    grid-column: 1 / span 2;
}
.l-nav {
    grid-row: 2;
    grid-column: 1;
}
.l-main {
    grid-row: 2;
    grid-column: 2;
}
