html {
  font-size: 16px;
  letter-spacing: 0.1em;
}

html * {
  box-sizing: border-box;
  letter-spacing: 0.1em;
}

body {
  background-color: #F1F1F1;
  font-family: 'Noto Sans', 'Noto Sans CJK JP', 'Noto Sans CJK JP Subset', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.l-grid--single-header {
  display: -ms-grid;
  display: grid;
  min-height: 100vh;
  -ms-grid-rows: 48px 1fr;
  grid-template-rows: 48px 1fr;
  -ms-grid-columns: 250px 1fr;
  grid-template-columns: 250px 1fr;
}

.l-grid--double-header {
  display: -ms-grid;
  display: grid;
  min-height: 100vh;
  -ms-grid-rows: 96px 1fr;
  grid-template-rows: 96px 1fr;
  -ms-grid-columns: 250px 1fr;
  grid-template-columns: 250px 1fr;
}

.l-header {
  background-color: #3F51B5;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

.l-nav {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
}

.l-main {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 2;
  grid-column: 2;
}

.u-input-reset, .o-header-search-input {
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;
  background: none;
}

.l-login {
  align: center;
  padding: 2rem;
}

.l-login--button {
  width: 100%;
}

.u-input-reset, .o-header-search-input {
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;
  background: none;
}

.z-depth-0 {
  box-shadow: none !important;
}

.z-depth-1, .o-header, .o-modal__content, .o-button, .o-button__primary {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.z-depth-1-half {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.z-depth-2 {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.o-header {
  width: 100%;
  position: fixed;
}

.o-header-main {
  height: 48px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.o-header-logo {
  margin-top: 3px;
  margin-left: 40px;
  height: 42px;
  cursor: pointer;
}

.o-header-main--link {
  display: inline-block;
  color: rgba(255, 255, 255, 0.7);
  margin-right: 2rem;
}

.o-header-main-search {
  width: 50%;
  background-color: #F1F1F1;
  height: 80%;
  border-radius: 0.2rem;
}

.o-header-main-search i {
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  font-size: 1rem;
}

.o-header-search-input {
  height: 100%;
  width: calc(100% - 3rem);
  letter-spacing: 0.1em;
}

.o-header-sub {
  height: 48px;
  font-size: 15px;
}

.o-header-tab {
  height: 100%;
}

.o-header-tab {
  margin: 0;
  padding: 0;
}

.o-header-sub ul {
  list-style: none;
  display: flex;
  margin: 0;
  justify-content: center;
}

.o-header-sub li {
  flex: 1 0 auto;
  max-width: 160px;
  white-space: nowrap;
  overflow: hidden;
}

.o-header-sub li a {
  display: block;
  text-align: center;
  padding: calc((48px - 15px) / 2 - 2px) 0;
  color: rgba(255, 255, 255, 0.7);
}

.o-header-sub li a:hover {
  color: #fff;
  border-bottom: 2px solid #E91E63;
}

.o-nav-ul {
  line-height: 3rem;
  margin: 0;
  padding: 0;
}

.o-nav-li a {
  display: inline-block;
  width: 100%;
  padding-left: 1.5rem;
  color: #757575;
}

.o-nav-li i {
  font-size: 1.2em;
  padding-right: 0.6em;
  vertical-align: middle;
}

.o-nav-li a:hover {
  background-color: #e8eaf6;
}

.u-input-reset, .o-header-search-input {
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;
  background: none;
}

.z-depth-0 {
  box-shadow: none !important;
}

.z-depth-1, .o-header, .o-modal__content, .o-button, .o-button__primary {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.z-depth-1-half {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.z-depth-2 {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.o-modal {
  z-index: 99;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.o-modal__content {
  font-size: 1rem;
  margin: auto;
  vertical-align: middle;
  width: 400px;
  height: 600px;
  background-color: #fff;
}

.u-input-reset, .o-header-search-input {
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;
  background: none;
}

.group {
  position: relative;
  margin-bottom: 45px;
}

.o-input--text {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
  background-color: transparent;
}

.o-input--text:focus {
  outline: none;
}

label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.o-input--text:focus ~ label, input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #5264AE;
}

.bar {
  position: relative;
  display: block;
  width: 300px;
}

.bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264AE;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

.o-input--text:focus ~ .bar:before, .o-input--text:focus ~ .bar:after {
  width: 50%;
}

.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

.o-input--text:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}

.u-input-reset, .o-header-search-input {
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;
  background: none;
}

.z-depth-0 {
  box-shadow: none !important;
}

.z-depth-1, .o-header, .o-modal__content, .o-button, .o-button__primary {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.z-depth-1-half {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.z-depth-2 {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.o-button, .o-button__primary {
  cursor: pointer;
  height: 48px;
  border-radius: 2px;
  border: none;
}

.o-button__primary {
  color: #fff;
  background-color: #3F51B5;
}

.o-button--transparent {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.u-input-reset, .o-header-search-input {
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;
  background: none;
}

.z-depth-0 {
  box-shadow: none !important;
}

.z-depth-1, .o-header, .o-modal__content, .o-button, .o-button__primary {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.z-depth-1-half {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.z-depth-2 {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

/*# sourceMappingURL=style.css.map */
