@import "../foundation/variables";
@import "../utility/input";
@import "../utility/shadow";

// 汎用ボタン
// ==========================================================================
.o-button {
    cursor: pointer;
    height: $base-button-height;
    border-radius: $base-border-radius;
    border: none;
    @extend .z-depth-1;
}

.o-button__primary {
    @extend .o-button;
    color: $text-color__bg-brand;
    background-color: $brand-primary;
}

// 背景透明ボタン
// ==========================================================================
.o-button--transparent {
    cursor: pointer;
    background-color: transparent;
    border: none;
}