@import "../foundation/variables";
@import "../utility/input";
@import "../utility/shadow";

.o-header {
    width: 100%;
    position: fixed;
    @extend .z-depth-1;
}

// header-main
// ==========================================================================
.o-header-main {
    height: $header-height;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.o-header-logo {
    margin-top: 3px;
    margin-left: 40px;
    height: 42px;
    cursor: pointer;
}
.o-header-main--link {
    display: inline-block;
    color: $tabs-text-color;
    margin-right: 2rem;
}
.o-header-main-search {
    width: 50%;
    background-color: $body-bg;
    height: 80%;
    border-radius: 0.2rem;
}
.o-header-main-search i {
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    font-size: 1rem;
}
.o-header-search-input {
    @extend .u-input-reset;
    height: 100%;
    width: calc(100% - 3rem);
    letter-spacing: 0.1em;

}

// header-sub
// ==========================================================================
.o-header-sub {
    height: $header-height;
    font-size: $header-nav-font-size;
}

.o-header-tab {
    height: 100%;
}

.o-header-tab {
    margin: 0;
    padding: 0;
}

.o-header-sub ul {
    list-style: none;
    display: flex;
    margin: 0;
    justify-content: center;
}

.o-header-sub li {
    flex: 1 0 auto;
    max-width: 160px;
    white-space: nowrap;
    overflow: hidden;
}

.o-header-sub li a {
    display: block;
    text-align: center;
    padding: calc((#{$header-height} - #{$header-nav-font-size}) / 2 - #{$tabs-underline-height}) 0;
    color: $tabs-text-color;
}

.o-header-sub li a:hover {
    color: $tabs-text-color--active;
    border-bottom: $tabs-underline-height solid $tabs-underline-color;
}
