@import "../foundation/variables";
@import "../utility/input";
@import "../utility/shadow";

.o-modal {
    z-index: 99;
    position:fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color:rgba(0,0,0,0.75);

    &__content {
        @extend .z-depth-1;
        font-size: 1rem;
        margin: auto;
        vertical-align: middle;
        width: 400px;
        height: 600px;
        background-color: #fff;
    }
}

