@import "../foundation/variables";

.o-nav-ul {
    line-height: 3rem;
    margin: 0;
    padding: 0;

}
.o-nav-li a {
    display: inline-block;
    width: 100%;
    padding-left: 1.5rem;
    color: $nav-link-color;
}
.o-nav-li i {
    font-size: 1.2em;
    padding-right: 0.6em;
    vertical-align: middle;
}
.o-nav-li a:hover {
    background-color: $nav-bg-color--hover;
}
